# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log

# Environment variables
.env
.env.*

# Django media
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db